@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Clicker+Script&family=Inter:wght@400;600&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,500&display=swap');

:root
{
    /*
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    */
    --crimson: crimson;
    --black: #4b4b4b;
    --light-black: rgb(70,70,70);
    --white: white;
    --light-bg: rgb(242,242,242);
}
*
{
    font-family: 'roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: boder-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .3s linear;
    text-transform: capitalize;
}
*::selection
{
    background-color: var(--black);
    color: var(--white);
}
html
{
    font-size: 62.5%;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}
::-webkit-scrollbar
{
    height: 0.5rem;
    width: 1rem;
}
::-webkit-scrollbar-track
{
    background: transparent;
}
::-webkit-scrollbar-thumb
{
    background: var(--crimson);
}